.content_form{
    margin: 1.3em;
    text-align: center;
    /* background-color: yellow; */
    height: 500px;
    color: #ddd;
}

.content_form form{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    letter-spacing: 2px;
    text-align: start;
    margin: 1em auto;
    width: 35%;
    /* background-color: aqua; */
}

.input{
    margin-bottom: 1em;
    padding: .5em;
    font-size: .9em;
    width: 100%;
    border-radius: 20px;
}

.input:focus{
    outline: none;
}
