.footer{
    display: flex;
    justify-content: space-around;
    padding: 2em 1em;
    background-color: #ddd;
}
.aboutCompany a{
    display: block;
    text-decoration: none;
    padding: 1em 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #153446;
    transition: transform .3s ease-in;
}

.aboutCompany a:hover{
    transform: scale(1.2);
}

.contacts h3{
    text-transform: uppercase;
}

.contacts address{
    display: flex;
    gap: 1em;
    padding: 1em 0;
    font-size: 2em;
}

.contacts address > *{
    transition: transform .3s ease-in;
}
.contacts address > *:hover{
    transform: scale(1.4);
}